@media only screen and (max-width: 567px) {

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Regular.ttf');
        font-weight: 400;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Medium.ttf');
        font-weight: 500;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-SemiBold.ttf');
        font-weight: 600;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Bold.ttf');
        font-weight: 700;
    }

    @font-face {
        font-family: "Poppins";
        src: url('../fonts/poppins/Poppins-Italic.ttf');
        font-style: italic;
    }

    $fontPrimary : "Poppins";

    $colorYellow : #FDBF1F;
    $colorGreen : #01A765;
    $colorBlueLight : #CDEEF6;
    $colorPink : #F17EAB;
    $colorRed : #F02424;
    $colorGray : #C4C4C4;
    $colorLight : #ECF0F3;
    $colorDark : #393939;
    $colorBlack : #000D1E;

    .App {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        min-height: 100vh;
        font-family: $fontPrimary;

        .sidebar {
            transition: 600ms;
            left: -300px;
            position: fixed;
            width: 300px;
            height: 100vh;
            overflow: hidden;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 998;

            .logo {
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                z-index: 2;

                img {
                    height: 80px;
                }
            }

            .menu {
                width: 80%;
                margin-bottom: 50px;

                ul {
                    width: 100%;

                    li {
                        transition: 300ms;
                        height: 50px;
                        width: 100%;
                        border-radius: 10px;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;

                        A {
                            width: 100%;
                            height: 100%;
                            font-family: $fontPrimary;
                            color: $colorBlack;
                            text-decoration: none;
                            display: flex;
                            align-items: center;

                            .icon {
                                width: 25%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $colorGreen;
                                font-size: 20px;
                            }

                        }
                    }

                    li:hover {
                        transition: 300ms;
                        background-color: $colorGreen;
                        
                        A {
                            color: white;

                            .icon {
                                color: white;
                            }
                        }
                    }
                    
                    li.active {
                        background-color: $colorGreen;
                        
                        A {
                            color: white;

                            .icon {
                                color: white;
                            }
                        }
                    }
                }
            }

            .menuHidden {
                height: 100px;
                width: 100%;
                display: flex;
                justify-content: center;

                .circle {
                    width: 60px;
                    height: 60px;
                    background-color: $colorLight;
                    color: $colorDark;
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                }
            }
        }

        .sidebar.active {
            left: 0px;
            width: 300px;
            transition: 300ms;
        }

        .body {
            width: 100%;
            background-color: white;

            .navbar {
                position: fixed;
                z-index: 999;
                height: 80px;
                width: 100%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .menu {
                    width: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                h1 {
                    font-weight: 500;
                    font-size: 24px;
                    color: $colorBlack;

                    span {
                        color: $colorGray;
                    }
                }

                .icon {
                    width: 80px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    
                    .icon-bell {
                        width: 30px;
                        height: 100%;
                        font-size: 20px;
                        color: $colorBlack;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .circle {
                            background-color: $colorGreen;
                            height: 18px;
                            width: 18px;
                            border-radius: 15px;
                            font-size: 12px;
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            top: 20px;
                            right: 0px;
                        }
                    }
                }

                .notifikasi {
                    transition: 300ms;
                    width: 250px;
                    height: 0px;
                    overflow: hidden;
                    position: absolute;
                    top: 70px;
                    right: 10px;

                    .triangle {
                        height: 20px;
                        width: 100%;
                        background-color: white;
                        clip-path: polygon(220px 0, 235px 20px, 205px 20px);
                    }

                    .body-box {
                        min-height: 180px;
                        width: 250px;
                        background-color: white;
                        border-radius: 15px;

                        .notifikasi-head {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 60px;
                            margin-bottom: 0px;

                            h4 {
                                font-weight: 500;
                            }

                            hr {
                                width: 50px;
                                height: 1px;
                                border: none;
                                background-color: $colorGreen;
                            }
                        }

                        .notifikasi-body {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            height: 100px;

                            .item {
                                width: 90%;
                                display: flex;
                                justify-content: space-between;

                                .item-left {
                                    width: 20%;

                                    .box {
                                        width: 35px;
                                        height: 35px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 10px;
                                        background-color: $colorGreen;
                                        color: white;
                                    }
                                }

                                .item-right {
                                    width: 80%;

                                    h5 {
                                        font-size: 14px;
                                        font-weight: 400;
                                        margin-bottom: 5px;
                                    }

                                    h4 {
                                        font-weight: 500;
                                        color: $colorGreen;
                                    }
                                }
                            }

                            .notifikasi-close {
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                display: flex;
                                flex-direction: column;

                                hr {
                                    width: 90%;
                                    height: 1px;
                                    border: none;
                                    background-color: $colorLight;
                                }

                                .text {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    h4 {
                                        font-size: 14px;
                                        margin-left: 5px;
                                    }
    
                                    path {
                                        color: $colorGreen;
                                    }
                                }
                            }
                        }
                    }
                }

                .notifikasi.active {
                    transition: 300ms;
                    height: 200px;
                }

            }

            .body-content {
                margin-top: 80px;
                background-color: $colorLight;
                border-radius: 0px 0px 0px 0px;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .dashboard {
        width: 100%;
        height: 100%;

        .filter {
            margin-bottom: 0px;
        }

        .card-surat {
            display: flex;
            justify-content: center;
            height: 100%;
        }

        .circle-book {
            position: fixed;
            z-index: 997;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: white;
            color: $colorGreen;
            display: none;
            justify-content: center;
            align-items: center;
            bottom: 30px;
            right: 30px;
            box-shadow: 0px 20px 60px rgba($color: $colorDark, $alpha: 0.16);
            font-size: 20px;
        }

        .circle-book.active {
            display: flex;
        }

        .card-surat-detail {
            padding-top: 30px;
            width: 0%;
            overflow: hidden;
            transition: 500ms;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card {
                width: 95%;
                height: auto;
                background-color: white;
                border-radius: 20px;
                padding: 15px;
                box-sizing: border-box;
                margin-bottom: 20px;

                .card-head {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    h2 {
                        color: $colorGreen;
                    }

                    .text-arab {
                        width: 90%;

                        h1 {
                            font-size: 32px;
                            line-height: 44px;
                            text-align: right;
                        }
                    }
                }

                .card-body {

                    audio {
                        width: 100%;
                        outline: none;
                        source {
                            outline: none;
                        }
                    }

                    h4 {
                        color: $colorDark;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }

                    p {
                        color: $colorBlack;
                        line-height: 28px;
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .card-surat-detail.active {
            width: 100%;
            transition: 500ms;
        }

        .card-group.nano {
            width: 0%;
            transition: 500ms;
        }

        .card-group {
            overflow: hidden;
            transition: 500ms;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .shadow {
                margin: 20px 0 0px 0;
                box-shadow: 20px -20px 40px white;
                width: 95%;
                border-radius: 20px;

                .card {
                    box-shadow: -20px 20px 40px rgba($color: $colorDark, $alpha: 0.12);
                    background-color: $colorLight;
                    width: 100%;
                    height: 140px;
                    border-radius: 20px;
                    padding: 15px 15px 15px 15px;
                    box-sizing: border-box;
    
                    .card-head {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 30px;
    
                        .circle {
                            border-radius: 30px;
                            height: 30px;
                            width: 30px;
                            background-color: rgba($color: $colorGreen, $alpha: 0.1);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $colorGreen;
                        }
    
                        .icon {
                            color: $colorGreen;
                            font-size: 20px;
                            width: 45px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            cursor: pointer;

                            svg {
                                color: $colorGreen;
                                position: absolute;
                                left: 0;
                                transition: 300ms;
                            }
                        }
                    }
    
                    .card-body {
                        display: flex;
                        justify-content: space-between;
    
                        h4 {
                            font-weight: 500;
                            margin-bottom: 10px;
                        }
    
                        h5 {
                            color: $colorDark;
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .right {
                            h4 {
                                font-size: 24px;
                                color: $colorDark;
                            }
                        }
                    }
                }

                .card:hover {
                    .card-head {
                            
                        .icon {
                            
                            svg {
                                left: 15px;
                                transition: 300ms;
                            }
                        }
                    }
                }
            }
        }
    }

    .berita {
        color: $colorBlack;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .content {
            width: 95%;

            .filter-content {
                height: 40px;
                width: 100%;
                // margin-bottom: 50px;
            }

            .group-card {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 30px;
                justify-content: space-around;

                .card {
                    // margin-right: 1%;
                    width: 90%;
                    height: 300px;
                    padding: 15px;
                    background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 20px;

                    .card-top {
                        width: 100%;
                        height: 50%;

                        .box {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;

                            img {
                                width: 100%;
                                min-height: 200px;
                            }
                        }
                    }

                    .card-bottom {
                        width: 100%;
                        height: 50%;

                        .box {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            position: relative;
                            
                            h3 {
                                margin-top: 20px;
                                font-weight: 500;
                                line-height: 24px;
                                margin-bottom: 10px;
                                max-height: 45px;
                                overflow: hidden;

                                .loading {
                                    width: 90%;
                                    height: 10px;
                                    background-color: rgba($color: $colorGreen, $alpha: 0.1);
                                }
                            }

                            p {
                                line-height: 22px;
                                color: $colorDark;
                                font-size: 14px;
                                max-height: 45px;
                                overflow: hidden;
                            }

                            .author {
                                position: absolute;
                                bottom: 30px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                .circle {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    background-color: $colorBlueLight;
                                    color: $colorGreen;
                                    margin-right: 10px;
                                }

                                .text {
                                    color: $colorDark;
                                    display: flex;
                                    align-items: center;

                                    h5 {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 22px;
                                        margin-bottom: 10px;
                                    }

                                }
                            }

                            .footer {
                                position: absolute;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                color: $colorGreen;
                                justify-content: flex-start;
                                width: 100%;

                                h5 {
                                    margin-left: 10px;
                                    font-size: 14px;
                                    color: $colorDark;
                                }
                            }
                        }
                    }
                }

                .card-more {
                    margin-right: 1%;
                    width: 215px;
                    height: 300px;
                    padding: 15px;
                    // background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        padding: 10px 20px 10px 20px;
                        width: 150px;
                        height: 40px;
                        background-color: $colorGreen;
                        color: white;
                        border: 2px solid transparent;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: 300ms;
                        outline: none;

                        path {
                            margin-left: 20px;
                        }
                    }

                    button:hover {
                        transition: 300ms;
                        background-color: transparent;
                        color: $colorGreen;
                        border: 2px solid white;
                        cursor: pointer;
                    }
                }
            }
        }
    }


    .jadwalSholat {
        color: $colorBlack;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .content {
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .content-left {
                width: 100%;

                .animation {
                    width: 100%;
                    height: 400px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .layer1 {
                        position: absolute;
                        height: 330px;
                        width: 330px;
                        border-radius: 100%;
                        background-color: $colorGreen;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 50%);
                        overflow: visible;
                    }

                    .layer2 {
                        position: absolute;
                        border-radius: 100%;
                        width: 320px;
                        height: 320px;
                        background-color: $colorLight;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .shadow1 {
                            width: 80%;
                            height: 80%;
                            border-radius: 100%;
                            background-color: $colorLight;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            box-shadow: -60px 60px 60px rgba($color: $colorGreen, $alpha: 0.12);

                            .shadow2 {
                                width: 100%;
                                height: 100%;
                                border-radius: 100%;
                                box-shadow: 60px -60px 60px rgba($color: $colorGreen, $alpha: 0.12);
    
                                .layer3 {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    box-shadow: 0px 0px 30px rgba($color: $colorGray, $alpha: 0.2);
        
                                    h1 {
                                        color: $colorGreen;
                                        font-size: 56px;

                                        span {
                                            font-size: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .information {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    color: $colorBlack;

                    .clock {
                        
                        h1 {
                            text-align: center;
                            font-size: 60px;
                            font-weight: 600;
                            margin-bottom: 20px;
                        }
                    }

                    .location {
                        margin-left: 30px;

                        h2 {
                            font-size: 24px;
                            color: $colorGreen;
                            font-weight: 500;
                            margin-bottom: 10px;

                            span {
                                color: $colorBlack;
                                margin-left: 10px;
                            }
                        }

                        h3 {
                            font-size: 16px;
                            line-height: 28px;
                        }
                    }
                }
            }   

            .content-right {
                width: 100%;

                .card-group {
                    width: 100%;
                    min-height: 850px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                    .shadow {
                        box-shadow: -20px 20px 40px rgba($color: $colorDark, $alpha: 0.12);
                        height: auto;
                        width: auto;
                        border-radius: 20px;
                        transition: 300ms;
                        position: absolute;
                        background-color: $colorLight;
                        
                        .card {
                            background-color: transparent;
                            border-radius: 20px;
                            width: 230px;
                            height: 90px;
                            transition: 300ms;
                            box-shadow: 20px -20px 40px rgba($color: white, $alpha: 1.0);
                            display: flex;
                            justify-content: space-between;
                            padding: 20px;

                            .card-left {
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                width: 60%;

                                h5 {
                                    top: 35px;
                                    color: $colorGreen;
                                    position: absolute;
                                }

                                h4 {
                                    width: 100%;
                                    position: absolute;
                                    bottom: 0;
                                    font-size: 20px;
                                    font-weight: 500;
                                }
                            }

                            .card-right {
                                width: 40%;
                                display: flex;
                                justify-content: flex-end;

                                .box {
                                    width: 50px;
                                    height: 50px;
                                    background-color: $colorBlack;
                                    border-radius: 10px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    svg {
                                        font-size: 24px;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }

                    .shadow-1 {
                        top: 40px;
                    }

                    .shadow-2 {
                        top: 200px;
                    }

                    .shadow-3 {
                        top: 360px;
                    }

                    .shadow-4 {
                        top: 520px;
                    }

                    .shadow-5 {
                        top: 680px;
                    }

                    .shadow-1:hover {
                        top: 50px;
                    }

                    .shadow-2:hover {
                        top: 210px;
                    }

                    .shadow-3:hover {
                        top: 370px;
                    }

                    .shadow-4:hover {
                        top: 530px;
                    }

                    .shadow-5:hover {
                        top: 690px;
                    }

                    .shadow:hover {
                        box-shadow: inset -4px 4px 8px rgba($color: $colorDark, $alpha: 0.08);
                        transition: 300ms;
                        background-color: $colorLight;

                        .card {
                            box-shadow: inset 4px -4px 8px rgba($color: white, $alpha: 1.0);
                            transition: 300ms;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .kalender {
        display: flex;
        justify-content: center;
        width: 100%;

        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            overflow: hidden;

            .content-left {
                width: 100%;
                transition: 500ms;

                .header {
                    margin-top: 30px;
                    margin-bottom: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    h4 {
                        font-size: 16px;
                        color: $colorGreen;
                    }
                    
                    h3 {
                        font-weight: 500;
                        font-size: 24px;
                        color: $colorDark;
                    }

                    .tahun-left {
                        width: 30%;
                        
                    }
                    
                    .tahun-now {
                        width: 40%;
                        
                    }
                    
                    .tahun-right {
                        width: 30%;
                       
                    }
                }

                .body {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: transparent;

                    .body-hari {
                        width: 95%;
                        margin-bottom: 30px;    
                        background-color: transparent;
                        display: flex;

                        h3 {
                            width: 100px;
                            text-align: center;
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }

                    .body-tanggal {
                        width: 95%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;

                        .box {
                            width: 14.20%;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .circle {
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                background-color: transparent;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;

                                h4 {
                                    font-size: 16px;
                                }
                            }

                            .circle:hover {
                                transition: 300ms;
                                background-color: $colorGreen;

                                h4 {
                                    color: $colorLight;
                                }
                            }

                            .circle.active {
                                background-color: $colorGreen;

                                h4 {
                                    color: $colorLight;
                                }
                            }
                        }
                    }
                }
            }

            .content-right {
                position: absolute;
                transition: 500ms;
                width: 100%;
                height: 100%;
                right: -100%;
                background-color: $colorDark;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;

                .content-btn {
                    width: 85%;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    font-size: 20px;

                    PATH {
                        color: white;
                    }
                }

                .content-head {
                    width: 80%;
                    margin-bottom: 80px;

                    h2 {
                        font-size: 22px;
                        font-weight: 500;
                        color: $colorGreen;
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    hr {
                        height: 2px;
                        width: 100px;
                        background-color: $colorGreen;
                        border: none;
                    }
                }

                .content-body {
                    width: 80%;
                    margin-bottom: 30px;
                    color: $colorLight;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        color: $colorLight;
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                    }

                    hr {
                        height: 2px;
                        width: 80%;
                        background-color: $colorLight;
                        border: none;
                    }
                }
            }

            .content-right.active {
                transition: 500ms;
                right: 0;
            }

            .content-left.resize {
                transition: 500ms;
            }
        }
    }

    .kisahNabi {
        color: $colorBlack;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .content {
            width: 95%;

            .filter-content {
                height: 40px;
                width: 100%;
                // margin-bottom: 50px;
            }

            .group-card {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 30px;
                justify-content: space-around;

                .card {
                    // margin-right: 1%;
                    width: 90%;
                    height: 300px;
                    padding: 15px;
                    background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 20px;

                    .card-top {
                        width: 100%;
                        height: 50%;

                        .box {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;

                            img {
                                width: 100%;
                                min-height: 200px;
                            }
                        }
                    }

                    .card-bottom {
                        width: 100%;
                        height: 50%;

                        .box {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            position: relative;
                            
                            h3 {
                                margin-top: 20px;
                                font-weight: 500;
                                line-height: 24px;
                                margin-bottom: 10px;
                                max-height: 45px;
                                overflow: hidden;
                            }

                            p {
                                line-height: 22px;
                                color: $colorDark;
                                font-size: 14px;
                                max-height: 45px;
                                overflow: hidden;
                            }

                            .author {
                                position: absolute;
                                bottom: 30px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                .circle {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    background-color: $colorBlueLight;
                                    color: $colorGreen;
                                    margin-right: 10px;
                                }

                                .text {
                                    color: $colorDark;
                                    display: flex;
                                    align-items: center;

                                    h5 {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 22px;
                                        margin-bottom: 10px;
                                    }

                                }
                            }

                            .footer {
                                position: absolute;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                color: $colorGreen;
                                justify-content: flex-start;
                                width: 100%;

                                h5 {
                                    margin-left: 10px;
                                    font-size: 14px;
                                    color: $colorDark;
                                }
                            }
                        }
                    }
                }

                .card-more {
                    margin-right: 1%;
                    width: 90%;
                    height: 300px;
                    padding: 15px;
                    // background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        padding: 10px 20px 10px 20px;
                        width: 150px;
                        height: 40px;
                        background-color: $colorGreen;
                        color: white;
                        border: 2px solid transparent;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: 300ms;
                        outline: none;

                        path {
                            margin-left: 20px;
                        }
                    }

                    button:hover {
                        transition: 300ms;
                        background-color: transparent;
                        color: $colorGreen;
                        border: 2px solid white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .kisahNabiDetail {
        
        color: $colorBlack;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .content {
            width: 95%;

            .header {
                width: 100%;
                padding-top: 30px;
                margin-bottom: 30px;

                .image {
                    border-radius: 40px;
                    overflow: hidden;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }
            }

            .title {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 48px;
                    margin-bottom: 20px;
                }

                .informasi {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    h4 {
                        font-size: 16px;
                    }
                }
            }

            .description {
                background-color: white;
                border-radius: 40px;
                width: 100%;
                min-height: 100px;
                box-sizing: border-box;
                padding: 30px 25px 30px 25px;

                pre {
                    white-space: pre-wrap;
                    line-height: 24px;
                }
            }
        }
    }

    .infaq {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .filter {
            margin-bottom: 30px;
        }

        .card-surat {
            display: flex;
            flex-direction: column;

            h3 {
                margin-left: 30px;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 35px;
            }
        }

        .card-group.nano {
            width: 100%;
            transition: 500ms;
        }

        .card-group {
            transition: 500ms;
            width: 100%;
            height: 100%;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .shadow {
                margin: 0px 30px 40px 30px;
                box-shadow: 20px -20px 40px white;
                width: 265px;
                border-radius: 20px;
                min-height: 125px;

                .card {
                    box-shadow: -20px 20px 40px rgba($color: $colorDark, $alpha: 0.12);
                    background-color: $colorLight;
                    width: 250px;
                    min-height: 110px;
                    border-radius: 20px;
                    padding: 15px 15px 15px 15px;
    
                    .card-head {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 30px;
    
                        .circle {
                            border-radius: 30px;
                            height: 30px;
                            width: 30px;
                            background-color: rgba($color: $colorGreen, $alpha: 0.1);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $colorGreen;
                        }
    
                        .icon {
                            color: $colorGreen;
                            font-size: 20px;
                            width: 45px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            cursor: pointer;

                            svg {
                                position: absolute;
                                left: 0;
                                transition: 300ms;
                                color: $colorGreen;
                            }
                        }
                    }
    
                    .card-body {
                        display: flex;
                        justify-content: space-between;
    
                        h4 {
                            font-weight: 500;
                            margin-bottom: 10px;
                        }
    
                        h5 {
                            color: $colorDark;
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .right {
                            h4 {
                                font-size: 24px;
                                color: $colorDark;
                            }
                        }
                    }
                }

                .card:hover {
                    .card-head {
                            
                        .icon {
                            
                            svg {
                                left: 15px;
                                transition: 300ms;
                            }
                        }
                    }
                }
            }
        }

        .kegiatan-card {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
                margin-left: 30px;
            }

            .card-group {
                display: flex;
                justify-content: space-around;

                .card {
                    // margin-right: 2%;
                    width: 80%;
                    height: 340px;
                    padding: 15px;
                    background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 20px;
    
                    .card-top {
                        width: 100%;
                        height: 50%;
    
                        .box {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
    
                            img {
                                width: 100%;
                                min-height: 180px;
                            }
                        }
                    }
    
                    .card-bottom {
                        width: 100%;
                        height: 50%;
    
                        .box {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            position: relative;
                            
                            h3 {
                                margin-left: 0;
                                font-size: 16px;
                                margin-top: 20px;
                                font-weight: 500;
                                line-height: 24px;
                                margin-bottom: 10px;
                                max-height: 45px;
                                overflow: hidden;
                            }
    
                            p {
                                line-height: 22px;
                                color: $colorDark;
                                font-size: 14px;
                                max-height: 70px;
                                overflow: hidden;
                            }
    
                            .author {
                                position: absolute;
                                bottom: 30px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
    
                                .circle {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    background-color: $colorBlueLight;
                                    color: $colorGreen;
                                    margin-right: 10px;
                                }
    
                                .text {
                                    color: $colorDark;
                                    display: flex;
                                    align-items: center;
    
                                    h5 {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 22px;
                                        margin-bottom: 10px;
                                    }
    
                                }
                            }
    
                            .footer {
                                position: absolute;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                color: $colorGreen;
                                justify-content: flex-start;
                                width: 100%;
    
                                h5 {
                                    margin-left: 10px;
                                    font-size: 14px;
                                    color: $colorDark;
                                }
                            }
                        }
                    }
                }
    
                .card-more {
                    margin-right: 1%;
                    width: 215px;
                    height: 300px;
                    padding: 15px;
                    // background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    button {
                        padding: 10px 20px 10px 20px;
                        width: 150px;
                        height: 40px;
                        background-color: $colorGreen;
                        color: white;
                        border: 2px solid transparent;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: 300ms;
                        outline: none;
    
                        path {
                            margin-left: 20px;
                        }
                    }
    
                    button:hover {
                        transition: 300ms;
                        background-color: transparent;
                        color: $colorGreen;
                        border: 2px solid white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #desktop {
        display: none;
    }


}