@media only screen and (min-width: 568px) and (max-width: 768px) {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf");
    font-style: italic;
  }
  .App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins";
  }
  .App .sidebar {
    -webkit-transition: 600ms;
    transition: 600ms;
    left: -300px;
    position: fixed;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 998;
  }
  .App .sidebar .logo {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    z-index: 2;
  }
  .App .sidebar .logo img {
    height: 80px;
  }
  .App .sidebar .menu {
    width: 80%;
    margin-bottom: 50px;
  }
  .App .sidebar .menu ul {
    width: 100%;
  }
  .App .sidebar .menu ul li {
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .App .sidebar .menu ul li A {
    width: 100%;
    height: 100%;
    font-family: "Poppins";
    color: #000D1E;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App .sidebar .menu ul li A .icon {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #01A765;
    font-size: 20px;
  }
  .App .sidebar .menu ul li:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #01A765;
  }
  .App .sidebar .menu ul li:hover A {
    color: white;
  }
  .App .sidebar .menu ul li:hover A .icon {
    color: white;
  }
  .App .sidebar .menu ul li.active {
    background-color: #01A765;
  }
  .App .sidebar .menu ul li.active A {
    color: white;
  }
  .App .sidebar .menu ul li.active A .icon {
    color: white;
  }
  .App .sidebar .menuHidden {
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .App .sidebar .menuHidden .circle {
    width: 60px;
    height: 60px;
    background-color: #ECF0F3;
    color: #393939;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
  }
  .App .sidebar.active {
    left: 0px;
    width: 300px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .App .body {
    width: 100%;
    background-color: white;
  }
  .App .body .navbar {
    position: fixed;
    z-index: 999;
    height: 80px;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .App .body .navbar .menu {
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .App .body .navbar h1 {
    font-weight: 500;
    font-size: 24px;
    color: #000D1E;
  }
  .App .body .navbar h1 span {
    color: #C4C4C4;
  }
  .App .body .navbar .icon {
    width: 80px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .App .body .navbar .icon .icon-bell {
    width: 30px;
    height: 100%;
    font-size: 20px;
    color: #000D1E;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App .body .navbar .icon .icon-bell .circle {
    background-color: #01A765;
    height: 18px;
    width: 18px;
    border-radius: 15px;
    font-size: 12px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    top: 20px;
    right: 0px;
  }
  .App .body .navbar .notifikasi {
    -webkit-transition: 300ms;
    transition: 300ms;
    width: 250px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    right: 10px;
  }
  .App .body .navbar .notifikasi .triangle {
    height: 20px;
    width: 100%;
    background-color: white;
    -webkit-clip-path: polygon(220px 0, 235px 20px, 205px 20px);
            clip-path: polygon(220px 0, 235px 20px, 205px 20px);
  }
  .App .body .navbar .notifikasi .body-box {
    min-height: 180px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    margin-bottom: 0px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-head h4 {
    font-weight: 500;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-head hr {
    width: 50px;
    height: 1px;
    border: none;
    background-color: #01A765;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 100px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-left {
    width: 20%;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-left .box {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    background-color: #01A765;
    color: white;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-right {
    width: 80%;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-right h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .item .item-right h4 {
    font-weight: 500;
    color: #01A765;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close hr {
    width: 90%;
    height: 1px;
    border: none;
    background-color: #ECF0F3;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close .text h4 {
    font-size: 14px;
    margin-left: 5px;
  }
  .App .body .navbar .notifikasi .body-box .notifikasi-body .notifikasi-close .text path {
    color: #01A765;
  }
  .App .body .navbar .notifikasi.active {
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 200px;
  }
  .App .body .body-content {
    margin-top: 80px;
    background-color: #ECF0F3;
    border-radius: 0px 0px 0px 0px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard {
    width: 100%;
    height: 100%;
  }
  .dashboard .filter {
    margin-bottom: 0px;
  }
  .dashboard .card-surat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .dashboard .circle-book {
    position: fixed;
    z-index: 997;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    color: #01A765;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 30px;
    right: 30px;
    -webkit-box-shadow: 0px 20px 60px rgba(57, 57, 57, 0.16);
            box-shadow: 0px 20px 60px rgba(57, 57, 57, 0.16);
    font-size: 20px;
  }
  .dashboard .circle-book.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard .card-surat-detail {
    padding-top: 30px;
    width: 0%;
    overflow: hidden;
    -webkit-transition: 500ms;
    transition: 500ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .card-surat-detail .card {
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
  }
  .dashboard .card-surat-detail .card .card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .dashboard .card-surat-detail .card .card-head h2 {
    color: #01A765;
  }
  .dashboard .card-surat-detail .card .card-head .text-arab {
    width: 90%;
  }
  .dashboard .card-surat-detail .card .card-head .text-arab h1 {
    font-size: 32px;
    line-height: 44px;
    text-align: right;
  }
  .dashboard .card-surat-detail .card .card-body audio {
    width: 100%;
    outline: none;
  }
  .dashboard .card-surat-detail .card .card-body audio source {
    outline: none;
  }
  .dashboard .card-surat-detail .card .card-body h4 {
    color: #393939;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .dashboard .card-surat-detail .card .card-body p {
    color: #000D1E;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .dashboard .card-surat-detail.active {
    width: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .dashboard .card-group.nano {
    width: 0%;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .dashboard .card-group {
    overflow: hidden;
    -webkit-transition: 500ms;
    transition: 500ms;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard .card-group .shadow {
    margin: 20px 0 0px 0;
    -webkit-box-shadow: 20px -20px 40px white;
            box-shadow: 20px -20px 40px white;
    width: 95%;
    border-radius: 20px;
  }
  .dashboard .card-group .shadow .card {
    -webkit-box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
            box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
    background-color: #ECF0F3;
    width: 100%;
    height: 140px;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .dashboard .card-group .shadow .card .card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .dashboard .card-group .shadow .card .card-head .circle {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: rgba(1, 167, 101, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #01A765;
  }
  .dashboard .card-group .shadow .card .card-head .icon {
    color: #01A765;
    font-size: 20px;
    width: 45px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }
  .dashboard .card-group .shadow .card .card-head .icon svg {
    color: #01A765;
    position: absolute;
    left: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .dashboard .card-group .shadow .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dashboard .card-group .shadow .card .card-body h4 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .dashboard .card-group .shadow .card .card-body h5 {
    color: #393939;
    font-size: 14px;
    line-height: 24px;
  }
  .dashboard .card-group .shadow .card .card-body .right h4 {
    font-size: 24px;
    color: #393939;
  }
  .dashboard .card-group .shadow .card:hover .card-head .icon svg {
    left: 15px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .berita {
    color: #000D1E;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .berita .content {
    width: 95%;
  }
  .berita .content .filter-content {
    height: 40px;
    width: 100%;
  }
  .berita .content .group-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .berita .content .group-card .card {
    width: 215px;
    height: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .berita .content .group-card .card .card-top {
    width: 100%;
    height: 50%;
  }
  .berita .content .group-card .card .card-top .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
  }
  .berita .content .group-card .card .card-top .box img {
    width: 215px;
    min-height: 150px;
  }
  .berita .content .group-card .card .card-bottom {
    width: 100%;
    height: 50%;
  }
  .berita .content .group-card .card .card-bottom .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .berita .content .group-card .card .card-bottom .box h3 {
    margin-top: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
    max-height: 45px;
    overflow: hidden;
  }
  .berita .content .group-card .card .card-bottom .box h3 .loading {
    width: 90%;
    height: 10px;
    background-color: rgba(1, 167, 101, 0.1);
  }
  .berita .content .group-card .card .card-bottom .box p {
    line-height: 22px;
    color: #393939;
    font-size: 14px;
    max-height: 45px;
    overflow: hidden;
  }
  .berita .content .group-card .card .card-bottom .box .author {
    position: absolute;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .berita .content .group-card .card .card-bottom .box .author .circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    background-color: #CDEEF6;
    color: #01A765;
    margin-right: 10px;
  }
  .berita .content .group-card .card .card-bottom .box .author .text {
    color: #393939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .berita .content .group-card .card .card-bottom .box .author .text h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .berita .content .group-card .card .card-bottom .box .footer {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #01A765;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .berita .content .group-card .card .card-bottom .box .footer h5 {
    margin-left: 10px;
    font-size: 14px;
    color: #393939;
  }
  .berita .content .group-card .card-more {
    margin-right: 1%;
    width: 215px;
    height: 300px;
    padding: 15px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .berita .content .group-card .card-more button {
    padding: 10px 20px 10px 20px;
    width: 150px;
    height: 40px;
    background-color: #01A765;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 300ms;
    transition: 300ms;
    outline: none;
  }
  .berita .content .group-card .card-more button path {
    margin-left: 20px;
  }
  .berita .content .group-card .card-more button:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: transparent;
    color: #01A765;
    border: 2px solid white;
    cursor: pointer;
  }
  .jadwalSholat {
    color: #000D1E;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jadwalSholat .content {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .jadwalSholat .content .content-left {
    width: 100%;
  }
  .jadwalSholat .content .content-left .animation {
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .jadwalSholat .content .content-left .animation .layer1 {
    position: absolute;
    height: 330px;
    width: 330px;
    border-radius: 100%;
    background-color: #01A765;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 50%);
            clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 50%);
    overflow: visible;
  }
  .jadwalSholat .content .content-left .animation .layer2 {
    position: absolute;
    border-radius: 100%;
    width: 320px;
    height: 320px;
    background-color: #ECF0F3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jadwalSholat .content .content-left .animation .layer2 .shadow1 {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background-color: #ECF0F3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-shadow: -60px 60px 60px rgba(1, 167, 101, 0.12);
            box-shadow: -60px 60px 60px rgba(1, 167, 101, 0.12);
  }
  .jadwalSholat .content .content-left .animation .layer2 .shadow1 .shadow2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 60px -60px 60px rgba(1, 167, 101, 0.12);
            box-shadow: 60px -60px 60px rgba(1, 167, 101, 0.12);
  }
  .jadwalSholat .content .content-left .animation .layer2 .shadow1 .shadow2 .layer3 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 0px 30px rgba(196, 196, 196, 0.2);
            box-shadow: 0px 0px 30px rgba(196, 196, 196, 0.2);
  }
  .jadwalSholat .content .content-left .animation .layer2 .shadow1 .shadow2 .layer3 h1 {
    color: #01A765;
    font-size: 56px;
  }
  .jadwalSholat .content .content-left .animation .layer2 .shadow1 .shadow2 .layer3 h1 span {
    font-size: 24px;
  }
  .jadwalSholat .content .content-left .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    color: #000D1E;
  }
  .jadwalSholat .content .content-left .information .clock h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .jadwalSholat .content .content-left .information .location {
    margin-left: 30px;
  }
  .jadwalSholat .content .content-left .information .location h2 {
    font-size: 24px;
    color: #01A765;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .jadwalSholat .content .content-left .information .location h2 span {
    color: #000D1E;
    margin-left: 10px;
  }
  .jadwalSholat .content .content-left .information .location h3 {
    font-size: 16px;
    line-height: 28px;
  }
  .jadwalSholat .content .content-right {
    width: 100%;
  }
  .jadwalSholat .content .content-right .card-group {
    width: 100%;
    min-height: 850px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .jadwalSholat .content .content-right .card-group .shadow {
    -webkit-box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
            box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
    height: auto;
    width: auto;
    border-radius: 20px;
    -webkit-transition: 300ms;
    transition: 300ms;
    position: absolute;
    background-color: #ECF0F3;
  }
  .jadwalSholat .content .content-right .card-group .shadow .card {
    background-color: transparent;
    border-radius: 20px;
    width: 230px;
    height: 90px;
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-box-shadow: 20px -20px 40px white;
            box-shadow: 20px -20px 40px white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
  .jadwalSholat .content .content-right .card-group .shadow .card .card-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 60%;
  }
  .jadwalSholat .content .content-right .card-group .shadow .card .card-left h5 {
    top: 35px;
    color: #01A765;
    position: absolute;
  }
  .jadwalSholat .content .content-right .card-group .shadow .card .card-left h4 {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    font-weight: 500;
  }
  .jadwalSholat .content .content-right .card-group .shadow .card .card-right {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .jadwalSholat .content .content-right .card-group .shadow .card .card-right .box {
    width: 50px;
    height: 50px;
    background-color: #000D1E;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jadwalSholat .content .content-right .card-group .shadow .card .card-right .box svg {
    font-size: 24px;
    color: white;
  }
  .jadwalSholat .content .content-right .card-group .shadow-1 {
    top: 40px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-2 {
    top: 200px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-3 {
    top: 360px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-4 {
    top: 520px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-5 {
    top: 680px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-1:hover {
    top: 50px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-2:hover {
    top: 210px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-3:hover {
    top: 370px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-4:hover {
    top: 530px;
  }
  .jadwalSholat .content .content-right .card-group .shadow-5:hover {
    top: 690px;
  }
  .jadwalSholat .content .content-right .card-group .shadow:hover {
    -webkit-box-shadow: inset -4px 4px 8px rgba(57, 57, 57, 0.08);
            box-shadow: inset -4px 4px 8px rgba(57, 57, 57, 0.08);
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #ECF0F3;
  }
  .jadwalSholat .content .content-right .card-group .shadow:hover .card {
    -webkit-box-shadow: inset 4px -4px 8px white;
            box-shadow: inset 4px -4px 8px white;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: transparent;
  }
  .kalender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .kalender .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  .kalender .content .content-left {
    width: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .kalender .content .content-left .header {
    margin-top: 30px;
    margin-bottom: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .kalender .content .content-left .header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kalender .content .content-left .header h4 {
    font-size: 16px;
    color: #01A765;
  }
  .kalender .content .content-left .header h3 {
    font-weight: 500;
    font-size: 24px;
    color: #393939;
  }
  .kalender .content .content-left .header .tahun-left {
    width: 30%;
  }
  .kalender .content .content-left .header .tahun-now {
    width: 40%;
  }
  .kalender .content .content-left .header .tahun-right {
    width: 30%;
  }
  .kalender .content .content-left .body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
  .kalender .content .content-left .body .body-hari {
    width: 95%;
    margin-bottom: 30px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .kalender .content .content-left .body .body-hari h3 {
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  .kalender .content .content-left .body .body-tanggal {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .kalender .content .content-left .body .body-tanggal .box {
    width: 14.20%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kalender .content .content-left .body .body-tanggal .box .circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .kalender .content .content-left .body .body-tanggal .box .circle h4 {
    font-size: 16px;
  }
  .kalender .content .content-left .body .body-tanggal .box .circle:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #01A765;
  }
  .kalender .content .content-left .body .body-tanggal .box .circle:hover h4 {
    color: #ECF0F3;
  }
  .kalender .content .content-left .body .body-tanggal .box .circle.active {
    background-color: #01A765;
  }
  .kalender .content .content-left .body .body-tanggal .box .circle.active h4 {
    color: #ECF0F3;
  }
  .kalender .content .content-right {
    position: absolute;
    -webkit-transition: 500ms;
    transition: 500ms;
    width: 100%;
    height: 100%;
    right: -100%;
    background-color: #393939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .kalender .content .content-right .content-btn {
    width: 85%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .kalender .content .content-right .content-btn PATH {
    color: white;
  }
  .kalender .content .content-right .content-head {
    width: 80%;
    margin-bottom: 80px;
  }
  .kalender .content .content-right .content-head h2 {
    font-size: 22px;
    font-weight: 500;
    color: #01A765;
    text-align: center;
    margin-bottom: 10px;
  }
  .kalender .content .content-right .content-head hr {
    height: 2px;
    width: 100px;
    background-color: #01A765;
    border: none;
  }
  .kalender .content .content-right .content-body {
    width: 80%;
    margin-bottom: 30px;
    color: #ECF0F3;
  }
  .kalender .content .content-right .content-body h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ECF0F3;
    text-align: center;
    margin-bottom: 10px;
  }
  .kalender .content .content-right .content-body p {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .kalender .content .content-right .content-body hr {
    height: 2px;
    width: 80%;
    background-color: #ECF0F3;
    border: none;
  }
  .kalender .content .content-right.active {
    -webkit-transition: 500ms;
    transition: 500ms;
    right: 0;
  }
  .kalender .content .content-left.resize {
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .kisahNabi {
    color: #000D1E;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kisahNabi .content {
    width: 95%;
  }
  .kisahNabi .content .filter-content {
    height: 40px;
    width: 100%;
  }
  .kisahNabi .content .group-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .kisahNabi .content .group-card .card {
    width: 215px;
    height: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .kisahNabi .content .group-card .card .card-top {
    width: 100%;
    height: 50%;
  }
  .kisahNabi .content .group-card .card .card-top .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
  }
  .kisahNabi .content .group-card .card .card-top .box img {
    width: 215px;
    min-height: 150px;
  }
  .kisahNabi .content .group-card .card .card-bottom {
    width: 100%;
    height: 50%;
  }
  .kisahNabi .content .group-card .card .card-bottom .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .kisahNabi .content .group-card .card .card-bottom .box h3 {
    margin-top: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
    max-height: 45px;
    overflow: hidden;
  }
  .kisahNabi .content .group-card .card .card-bottom .box p {
    line-height: 22px;
    color: #393939;
    font-size: 14px;
    max-height: 45px;
    overflow: hidden;
  }
  .kisahNabi .content .group-card .card .card-bottom .box .author {
    position: absolute;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kisahNabi .content .group-card .card .card-bottom .box .author .circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    background-color: #CDEEF6;
    color: #01A765;
    margin-right: 10px;
  }
  .kisahNabi .content .group-card .card .card-bottom .box .author .text {
    color: #393939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kisahNabi .content .group-card .card .card-bottom .box .author .text h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .kisahNabi .content .group-card .card .card-bottom .box .footer {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #01A765;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .kisahNabi .content .group-card .card .card-bottom .box .footer h5 {
    margin-left: 10px;
    font-size: 14px;
    color: #393939;
  }
  .kisahNabi .content .group-card .card-more {
    margin-right: 1%;
    width: 215px;
    height: 300px;
    padding: 15px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kisahNabi .content .group-card .card-more button {
    padding: 10px 20px 10px 20px;
    width: 150px;
    height: 40px;
    background-color: #01A765;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 300ms;
    transition: 300ms;
    outline: none;
  }
  .kisahNabi .content .group-card .card-more button path {
    margin-left: 20px;
  }
  .kisahNabi .content .group-card .card-more button:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: transparent;
    color: #01A765;
    border: 2px solid white;
    cursor: pointer;
  }
  .kisahNabiDetail {
    color: #000D1E;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kisahNabiDetail .content {
    width: 95%;
  }
  .kisahNabiDetail .content .header {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .kisahNabiDetail .content .header .image {
    border-radius: 40px;
    overflow: hidden;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kisahNabiDetail .content .header .image img {
    width: 100%;
  }
  .kisahNabiDetail .content .title {
    width: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .kisahNabiDetail .content .title h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
  }
  .kisahNabiDetail .content .title .informasi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .kisahNabiDetail .content .title .informasi h4 {
    margin-left: 30px;
    font-size: 16px;
  }
  .kisahNabiDetail .content .description {
    background-color: white;
    border-radius: 40px;
    width: 100%;
    min-height: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 25px 30px 25px;
  }
  .kisahNabiDetail .content .description pre {
    white-space: pre-wrap;
    line-height: 24px;
  }
  .infaq {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infaq .filter {
    margin-bottom: 30px;
  }
  .infaq .card-surat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infaq .card-surat h3 {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
  }
  .infaq .card-group.nano {
    width: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .infaq .card-group {
    -webkit-transition: 500ms;
    transition: 500ms;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infaq .card-group .shadow {
    margin: 0px 30px 40px 30px;
    -webkit-box-shadow: 20px -20px 40px white;
            box-shadow: 20px -20px 40px white;
    width: 265px;
    border-radius: 20px;
    min-height: 125px;
  }
  .infaq .card-group .shadow .card {
    -webkit-box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
            box-shadow: -20px 20px 40px rgba(57, 57, 57, 0.12);
    background-color: #ECF0F3;
    width: 250px;
    min-height: 110px;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
  }
  .infaq .card-group .shadow .card .card-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .infaq .card-group .shadow .card .card-head .circle {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: rgba(1, 167, 101, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #01A765;
  }
  .infaq .card-group .shadow .card .card-head .icon {
    color: #01A765;
    font-size: 20px;
    width: 45px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
  }
  .infaq .card-group .shadow .card .card-head .icon svg {
    position: absolute;
    left: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    color: #01A765;
  }
  .infaq .card-group .shadow .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .infaq .card-group .shadow .card .card-body h4 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .infaq .card-group .shadow .card .card-body h5 {
    color: #393939;
    font-size: 14px;
    line-height: 24px;
  }
  .infaq .card-group .shadow .card .card-body .right h4 {
    font-size: 24px;
    color: #393939;
  }
  .infaq .card-group .shadow .card:hover .card-head .icon svg {
    left: 15px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .infaq .kegiatan-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .infaq .kegiatan-card h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .infaq .kegiatan-card .card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .infaq .kegiatan-card .card-group .card {
    width: 250px;
    height: 340px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .infaq .kegiatan-card .card-group .card .card-top {
    width: 100%;
    height: 50%;
  }
  .infaq .kegiatan-card .card-group .card .card-top .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
  }
  .infaq .kegiatan-card .card-group .card .card-top .box img {
    width: 250px;
    min-height: 180px;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom {
    width: 100%;
    height: 50%;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box h3 {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
    max-height: 45px;
    overflow: hidden;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box p {
    line-height: 22px;
    color: #393939;
    font-size: 14px;
    max-height: 70px;
    overflow: hidden;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box .author {
    position: absolute;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box .author .circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    background-color: #CDEEF6;
    color: #01A765;
    margin-right: 10px;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box .author .text {
    color: #393939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box .author .text h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box .footer {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #01A765;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .infaq .kegiatan-card .card-group .card .card-bottom .box .footer h5 {
    margin-left: 10px;
    font-size: 14px;
    color: #393939;
  }
  .infaq .kegiatan-card .card-group .card-more {
    margin-right: 1%;
    width: 215px;
    height: 300px;
    padding: 15px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infaq .kegiatan-card .card-group .card-more button {
    padding: 10px 20px 10px 20px;
    width: 150px;
    height: 40px;
    background-color: #01A765;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 300ms;
    transition: 300ms;
    outline: none;
  }
  .infaq .kegiatan-card .card-group .card-more button path {
    margin-left: 20px;
  }
  .infaq .kegiatan-card .card-group .card-more button:hover {
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: transparent;
    color: #01A765;
    border: 2px solid white;
    cursor: pointer;
  }
  #desktop {
    display: mobile;
  }
}
/*# sourceMappingURL=mobileLandscape-style.css.map */